<!-- This line will load the static files automatically and can be referenced on line 9 to load the stylesheet -->
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Articles</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <header class="wrapper">
      <h1><a href="{% url 'home' %}"><img src="{% static 'blog-logo.png' %}" alt=""></a></h1>
      <nav>
        <ul>
          {% if user.is_authenticated %}
            <li>
              <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
              </form>
            </li>
            <li><a href="{% url 'articles:create' %}" class="highlight">New Article</a></li>
          {% else %}
            <li><a href="{% url 'accounts:login' %}">Login</a></li>
            <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <div class="wrapper">
      <!-- in this base layout we are saying this is where we want a block called content to go -->
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>

<!-- #we don't always want to show log out, we want to dynamically show the correct buttons based on logged-in status using the above if statements-->